<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="obtener-movimientos">
 <template>

  <iron-ajax
        id="listTransactions"
        url="http://localhost:3000/v1/users/{{customerid}}/accounts/{{accountid}}/transactions"
        method="GET"
        headers='{"access-control-allow-origin":"*"}'
        handle-as="json"
        on-response="manageAJAXResponseAccounts"
        on-error="showError">
      </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ObtenerMovimientos extends Polymer.Element {
     static get is() { return 'obtener-movimientos'; }
     static get properties() {
       return {

       };
     }
     peticionObtenerMovimientos(){
       console.log("peticionObtenerMovimientos");

       console.log("Token peticionAltaCuenta en crear-cuenta: " +this.token);
        this.$.listTransactions.headers['token']=this.token;

        this.$.listTransactions.generateRequest();

        console.log("Petición enviada");
     }

     //Una vez recuperadas las cuentas se cargan y se muestra la página
     manageAJAXResponseAccounts (data){
       console.log("Llegaron los resultados de cuentas");
       console.log("Cuentas "+data.detail.response);
       this.dispatchEvent(
           new CustomEvent(
             "getmovs",
             {
               "detail": {
                 "account": data.detail.response.account,
                 "transactions": data.detail.response.transactions
               }
             }
           )
           );
     }


     }

   window.customElements.define(ObtenerMovimientos.is, ObtenerMovimientos);
 </script>
</dom-module>
