<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="conversor-divisa">
 <template>

  <iron-ajax auto=''
        id="getdivisa"
        url="https://v3.exchangerate-api.com/bulk/cb989f99f6b8d0d11635262a/{{origen}}"
        handle-as="json"
        on-response="showData">


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ConversorDivisa extends Polymer.Element {
     static get is() { return 'conversor-divisa'; }
     static get properties() {
       return {

       };
     }
    peticionDivisa(){
      this.$.getdivisa.generateRequest();
    }
     showData(data){
          console.log("ejecutar API calcular Divisa");
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("cambio",{"detail":data.detail.response}));
          console.log("  Evento enviando");
          console.log(JSON.stringify(data.detail.response));


      }

   }

   window.customElements.define(ConversorDivisa.is, ConversorDivisa);
 </script>
</dom-module>
