<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="mostrar-confirmacion">
 <template>
 <style>
    :host {
     display: block;
    text-align: center-block;
    }
 </style>
   <h4><img src="https://s3-eu-west-1.amazonaws.com/imagenesgabivane/Icon_ok.jpg" alt="icono" style="width: 80px; height: 80px">Se ha realizado el proceso de alta correctamente.
      Es necesario que inicie sesión a través del Área de Clientes
 </h4>

   <P>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class MostrarConfirmacion extends Polymer.Element {
     static get is() { return 'mostrar-confirmacion'; }
     static get properties() {
       return {

         msg: {
           type: String
         }
       };
     }

   }

   window.customElements.define(MostrarConfirmacion.is, MostrarConfirmacion);
 </script>
</dom-module>
