<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- ejecuta la API login -->

<dom-module id="cerrar-sesion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/v1/logout/{{customerid}}"
      content-type="application/json"
      method="PUT"
      headers='{"Access-Control-Allow-Origin":"*"}'
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      body = [{"element":"1"}]>
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CerrarSesion extends Polymer.Element {
      static get is() { return 'cerrar-sesion'; }
      static get properties() {
        return {
           customerId:{
             type:Number
           }
          }
        };


        peticionLogout(){
          console.log("peticionLogout");

          console.log("Token peticionLogout en pagina-inicio: " +this.token);
           this.$.doLogout.headers['token']=this.token;
           this.$.doLogout.generateRequest();
          console.log("Petición enviada");
        }

     manageAJAXResponse(e, request) {
       console.log("Llegaron los resultados del logout.");
       console.log(e.detail.response);
       /** enviar datos al evento "mylogout"*/
       this.dispatchEvent(
           new CustomEvent(
             "mylogout",
             {
               "detail": {
                 "customerId": e.detail.response,
                 "token" : request.xhr.getResponseHeader("token")
               }
               }
           )
        );
       }
     }

    window.customElements.define(CerrarSesion.is, CerrarSesion);
  </script>
</dom-module>
