<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="obtener-cuentas">
 <template>

  <iron-ajax
        id="listAccounts"
        url="http://localhost:3000/v1/users/{{customerid}}/accounts"
        method="GET"
        headers='{"access-control-allow-origin":"*"}'
        handle-as="json"
        on-response="manageAJAXResponseAccounts"
        on-error="showError">
      </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ObtenerCuentas extends Polymer.Element {
     static get is() { return 'obtener-cuentas'; }
     static get properties() {
       return {

       };
     }
     peticionObtenerCuentas(){
       console.log("peticionObtenerCuentas");

       console.log("Token peticionAltaCuenta en crear-cuenta: " +this.token);
        this.$.listAccounts.headers['token']=this.token;

        this.$.listAccounts.generateRequest();

        console.log("Petición enviada");
     }

     //Una vez recuperadas las cuentas se cargan y se muestra la página
     manageAJAXResponseAccounts (data){
       console.log("Llegaron los resultados de cuentas");
       console.log("Cuentas "+data.detail.response);
       this.dispatchEvent(
           new CustomEvent(
             "getaccount",
             {
               "detail": {
                 "accounts": data.detail.response
               }
             }
           )
           );
     }


     }

   window.customElements.define(ObtenerCuentas.is, ObtenerCuentas);
 </script>
</dom-module>
