<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- ejecuta la API login -->

<dom-module id="borrar-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="deleteAccount"
      method="DELETE"
      url="http://localhost:3000/v1/users/{{customerid}}/accounts/{{accountid}}"
      content-type="application/json"
      headers='{"Access-Control-Allow-Origin":"*"}'
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      body = [{"element":"1"}]
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorrarCuenta extends Polymer.Element {
      static get is() { return 'borrar-cuenta'; }
      static get properties() {
        return {
          customerId:{
            type:Number
          },
          accountId:{
            type:Number
          }
         }
       }
        peticionBorrarCuenta(accountId){
          console.log("peticionBorrarCuenta :"+accountId);
          if(accountId != null){

           this.$.deleteAccount.headers['token']=this.token;

           this.$.deleteAccount.generateRequest();
           console.log("Petición enviada");
         }
        }

       manageAJAXResponse(e, request) {
          console.log("Llegaron los resultados del Borrar cuenta.");
          console.log(e.detail.response);
          /** enviar datos al evento "mycreacuent"*/
          this.dispatchEvent(
              new CustomEvent(
                "myborracuent",
                {
                  "detail": e.detail.response
                }
              )
           );
         }
     }

    window.customElements.define(BorrarCuenta.is, BorrarCuenta);
  </script>
</dom-module>
