<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="hazte-cliente">
  <template>
    <style>
        .header {
           color: #36A0FF;
           font-size: 27px;
           padding: 10px;
         }
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="well well-sm">
                      <form class="form-horizontal" method="post">
                          <fieldset>
                              <legend class="text-center header">Introduzca sus datos</legend>

                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                      <label for="nombre">Nombre:</label>
                                      <input id="fname" name="name" type="text" placeholder="indica tu nombre" value="{{nombre::input}}"required class="form-control">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                      <label for="apellidos">Apellidos:</label>
                                      <input id="lname" name="name" type="text" placeholder="indica tus apellidos" value="{{apellidos::input}}"required class="form-control">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                       <label for="tipo">Tipo de Documento</label>
                      		 <select name="tipo" id="tipo" value="{{idtipo::input}}">
                                            <option selected value="1">NIF</option>
                                            <option value="2">NIE</option>
                                       </select>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                       <label for="nif">Documento</label>
                       		 <input type="text" name="documentos" id="documento" placeholder="indica tu documento identificativo" value="{{documento::input}}"required class="form-control">
                                  </div>
                              </div>

      			<div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
      				<label for="email">Email</label>
                                      <input id="email" name="email" type="email" placeholder="Email" value="{{email::input}}" required class="form-control">
                                  </div>
                              </div>

      			<div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
      				<label for="password">Password</label>
                                      <input type="password" name="password" id="password" value="{{password::input}}" class="form-control">
                                  </div>
                              </div>
                        <!--      <div class="form-group">
                                  <div class="col-md-12 text-center">
                                      <button class="btn btn-primary" on-click="aceptar">Registrarse</button>
                                  </div>
                              </div> -->
                          </fieldset>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-12 text-center">
          <button class="btn btn-primary" on-click="aceptar">Aceptar</button>
      </div>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HazteCliente extends Polymer.Element {
      static get is() { return 'hazte-cliente'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          idtipo: {
            type: String,
            value: "1"
          },
          tiponame: {
            type: String
          },
          documento: {
            type: String
          },
          email: {
            type: String
          }, password: {
            type: String
          }

        };
      }
      /** evento del boton 'Aceptar' */
       aceptar(e){
         console.log("El usuario ha pulsado el botón aceptar");
         console.log("Voy a enviar la petición");
         console.log(e);
         console.log("this.idtipo" +this.idtipo);
         if (this.idtipo == "1"){
             this.tiponame = "NIF";
           }
           else{
             this.tiponame = "NIE";
           }

        /** enviar datos al evento "myalta"*/
         this.dispatchEvent(
         new CustomEvent(
           "myalta",
           {
             "detail":{
               "firstName": this.nombre,
               "lastName": this.apellidos,
               "identityDocument":{
               "documentType":{
                   "id": this.idtipo,
                   "name":this.tiponame
               },
               "documentNumber":this.documento
             },
               "email" : this.email,
               "password" : this.password
             }
           }
         )
       );
      }
      /*Inicializar formulario cliente */
      inicializarCliente(){
        console.log('inicializarCliente');
        this.nombre='';
        this.apellidos='';
        this.documento='';
        this.email='';
        this.password='';
      }
    }

    window.customElements.define(HazteCliente.is, HazteCliente);
  </script>
</dom-module>
